interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 03 Dec 2021 11:41:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - B3zpZPs/EESNxduoqDzqIg.2.0
      x-processing-time:
      - 43ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "9382d810-542d-11ec-8ae0-9f877a89c2db",
      "kind": "groupCallLocator"}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "3e201300-81fa-4e65-a640-23205aef5835"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - c412b875-1987-415e-a691-dcc67bef2e47
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "9382d810-542d-11ec-8ae0-9f877a89c2db",
      "kind": "groupCallLocator"}, "callbackUri": "sanitized", "participant": {"communicationUser":
      "sanitized"}, "operationContext": "2d394e45-a17c-4629-be50-f24066ac1f86"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "8300d1bb-07f5-4651-a14f-73b439715d85", "status": "running",
        "operationContext": "2d394e45-a17c-4629-be50-f24066ac1f86"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - d64420b5-d29e-4cde-a5fe-b48e4c742dc0
    status:
      code: 202
      message: Accepted
- request:
    body: '{"identifier": {"communicationUser": "sanitized"}, "callLocator": {"groupCallId":
      "9382d810-542d-11ec-8ae0-9f877a89c2db", "kind": "groupCallLocator"}, "callbackUri":
      "sanitized", "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
      "loop": true, "audioFileId": "ac8284c8-c311-461c-a11d-5b9ad6f2deb7"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "3e201300-8bf3-4205-be12-16e203d0e223", "status": "running",
        "resultDetails": {"code": 500, "subcode": 9999, "message": "DownloadFailed"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 29ee7dcb-c2d4-4e52-bdf7-237cee4cc9d1
    status:
      code: 202
      message: Accepted
- request:
    body: '{"callLocator": {"groupCallId": "9382d810-542d-11ec-8ae0-9f877a89c2db",
      "kind": "groupCallLocator"}, "identifier": {"communicationUser": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:remove?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 22b26f36-2cb7-4d5b-9cc0-3011d6ec2492
    status:
      code: 202
      message: Accepted
version: 1
