interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 20 Dec 2021 11:01:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - B20hAUpTbU22wQRdIZmCAQ.2.0
      x-processing-time:
      - 24ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"serverCallId": "sanitized", "kind": "serverCallLocator"},
      "recordingStateCallbackUri": "https://bot.contoso.io/callback"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/recordings?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8527", "message": "Invalid join identity, cannot
        join call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 37dce0ae-0e34-4e27-b6cc-8cd24c726099
    status:
      code: 400
      message: Bad Request
version: 1
