interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Dec 2021 09:23:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-152f-efc6-4ff7-343a0d006efd"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RDo7hjFPgkuCQyu0+QX50Q.2.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "e3f2b410-5283-11ec-873a-7fcd714d320c",
      "kind": "groupCallLocator"}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "521f1300-203a-41e3-ab12-e64782ae8a51"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - e1756210-d69d-4705-ae89-b544c4cf8359
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "e3f2b410-5283-11ec-873a-7fcd714d320c",
      "kind": "groupCallLocator"}, "callbackUri": "sanitized", "participant": {"communicationUser":
      {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-142e-1cb2-69f0-553a0d006a9d"}},
      "operationContext": "62458083-707e-4d68-8fe7-4e688386145e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"participantId": "70ccf93c-4d5d-4944-b8e6-b7153579671b"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - b7c203b1-be45-4788-8a9d-4bacce9f1781
    status:
      code: 202
      message: Accepted
- request:
    body: '{"identifier": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-142e-1cb2-69f0-553a0d006a9d"}},
      "callLocator": {"groupCallId": "e3f2b410-5283-11ec-873a-7fcd714d320c", "kind":
      "groupCallLocator"}, "callbackUri": "sanitized", "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
      "loop": true, "audioFileId": "47834bfc-0a27-41ac-89c8-daeca95fd9a8"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "521f1300-487c-43de-bfe5-5d256ab64dbd", "status": "running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - a949f268-e32b-43c3-8e82-ccc0f7b2a62c
    status:
      code: 202
      message: Accepted
- request:
    body: '{"callLocator": {"groupCallId": "e3f2b410-5283-11ec-873a-7fcd714d320c",
      "kind": "groupCallLocator"}, "identifier": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-142e-1cb2-69f0-553a0d006a9d"}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:remove?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 23e82abc-6668-4ed6-9604-15bd430876bb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/521f1300-203a-41e3-ab12-e64782ae8a51/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - c9b169a9-9d9b-4986-8055-77c21356e6e0
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/521f1300-52b6-4bdc-afe8-d62361b8ad69/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 2db47922-15f6-492c-8779-22c61dc7e61b
    status:
      code: 202
      message: Accepted
version: 1
