interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - F6kpXbCLCEama4LrrmLVEA.2.0
      x-processing-time:
      - 40ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - b7cea722-1384-440a-a892-fa2725f57b9d
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: GET
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized", "source": "sanitized", "alternateCallerId":
        "sanitized", "targets": "sanitized", "callConnectionState": "connected", "callbackUri":
        "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"],
        "callLocator": {"serverCallId": "aHR0cHM6Ly94LWNvbnYtdXN3ZS0wMS5jb252LnNreXBlLmNvbS9jb252L3dMTU1iTFZ5WmtxamxnbDdReXdIeWc_aT0xJmU9NjM3NzIzMDg4OTM1MjA2MTg1",
        "kind": "serverCallLocator"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - a4d9eb6b-74ee-4aaf-a641-fa6950396f3d
    status:
      code: 200
      message: OK
- request:
    body: '{"audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav", "loop":
      true, "operationContext": "0ed5de9b-645b-4061-97af-4a40e5fce986", "audioFileId":
      "d9c0e6c4-e17e-4fc5-8890-7368a0ce6ef0"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "293c1c39-16db-431c-9c86-593da5008a45", "status": "running",
        "operationContext": "0ed5de9b-645b-4061-97af-4a40e5fce986"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 9d4b29b0-eea1-4932-a699-0314c9e4c175
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "096c43bd-9a58-4c05-97dd-3e978aa50d5f", "status": "completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 6a37d37d-193d-4638-a4ee-704616a2f4d5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 789c6861-9c60-41aa-919b-a207d64088cc
    status:
      code: 202
      message: Accepted
version: 1
