interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 03 Dec 2021 15:12:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vfwGoaocTEiny36oYKiL+w.2.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "5f1f1300-1615-4fb5-8325-05eec9956d41"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 982b4d3f-8729-4e02-8bc3-6737562d4dbb
    status:
      code: 201
      message: Created
- request:
    body: '{"targetParticipant": {"communicationUser": "sanitized"}, "userToUserInformation":
      "test information", "operationContext": "485a2e1a-5a76-403b-a623-1a0d4e09ded7"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/5f1f1300-1615-4fb5-8325-05eec9956d41/:transferToParticipant?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8501", "message": "Action is invalid when call
        is not in Established state"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 60a71b83-4b3c-4728-a5ac-3e6394579111
    status:
      code: 400
      message: Bad Request
version: 1
