interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 20 Dec 2021 10:49:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6CqbUR5wf0qIY3P/m0BZiQ.2.0
      x-processing-time:
      - 24ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 66772ac9-3c80-4eda-98f9-7996c6da13dc
    status:
      code: 201
      message: Created
- request:
    body: '{"targetParticipant": {"communicationUser": "sanitized"}, "userToUserInformation":
      "test information", "operationContext": "2619a9f9-7d10-4c41-ada8-f1fcb6d23c4f"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:transferToParticipant?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8501", "message": "Action is invalid when call
        is not in Established state"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 66772ac9-3c80-4eda-98f9-7996c6da13dc
    status:
      code: 400
      message: Bad Request
version: 1
