interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pqldgZqaq0yMptLTMRZMYw.2.0
      x-processing-time:
      - 42ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "source": "sanitized", "callbackUri": "sanitized", "requestedMediaTypes": ["audio"],
      "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - ddf28ee3-ec70-4694-9997-ef5ff7b07e25
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "callbackUri": "sanitized", "participant": {"communicationUser": "sanitized"},
      "operationContext": "1d9d3cfa-89d8-455d-a76c-af2337138d31"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "0224fd4a-eabe-4170-9a8f-a5a050d88a27", "status": "running",
        "operationContext": "1d9d3cfa-89d8-455d-a76c-af2337138d31"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 5bb39539-ab4c-427d-8ad9-c6c93c6d7b46
    status:
      code: 202
      message: Accepted
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "identifier": {"communicationUser": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:get?api-version=2021-11-15-preview
  response:
    body:
      string: '{"identifier": {"rawId": "sanitized", "communicationUser": "sanitized"},
        "participantId": "b82c9440-82fc-4c78-8e30-392515c287ee", "isMuted": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 76f2d4f9-3d1f-4b36-be3e-bf252a6a4566
    status:
      code: 200
      message: OK
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:getAll?api-version=2021-11-15-preview
  response:
    body:
      string: '[{"identifier": {"rawId": "sanitized", "communicationUser": "sanitized"},
        "participantId": "99e508da-e6cd-4e6d-92bf-8d5741338fe2", "isMuted": false},
        {"identifier": {"rawId": "sanitized", "communicationUser": "sanitized"}, "participantId":
        "475ec024-3c19-47c1-b1d9-937e5eba5b11", "isMuted": false}, {"identifier":
        {"rawId": "sanitized", "communicationUser": "sanitized"}, "participantId":
        "b82c9440-82fc-4c78-8e30-392515c287ee", "isMuted": true}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - ee0e3e1a-66bd-4ff7-8430-bd58fe3ffa76
    status:
      code: 200
      message: OK
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "identifier": {"communicationUser": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:remove?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 7bd55b44-2552-4e3d-bfa9-3bc0c6f56bcf
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 2986c969-86d1-441b-a3f5-b02a687d0f28
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - b8a26452-3b30-41f4-9d91-3a0b45a9ccbe
    status:
      code: 202
      message: Accepted
version: 1
