interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 03 Dec 2021 11:43:42 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jlollzmRokCH8pjgEJQdjA.2.0
      x-processing-time:
      - 33ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "9382d810-542d-11ec-8ae0-9f877a89c2db",
      "kind": "groupCallLocator"}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "5c1f1300-ccd3-4a22-9794-81f2226405ad"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - e9148954-7fe2-407e-8059-1f847fb881d2
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "9382d810-542d-11ec-8ae0-9f877a89c2db",
      "kind": "groupCallLocator"}, "recordingStateCallbackUri": "https://bot.contoso.io/callback"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/recordings?api-version=2021-11-15-preview
  response:
    body:
      string: '{"recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI1YzFmMTMwMC04ZmE0LTRjYjMtYjIyNy1iZmNhMmMzMjRmZGYiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI2ZDJlMzkyYy0yMmEyLTQxNzgtOTE4Ni01NWM3ZWJlNWU2ZGIifQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - e7e89bf9-f047-4e76-91bf-d48a6645cb7c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: GET
    uri: https://sanitized.communication.azure.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI1YzFmMTMwMC04ZmE0LTRjYjMtYjIyNy1iZmNhMmMzMjRmZGYiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI2ZDJlMzkyYy0yMmEyLTQxNzgtOTE4Ni01NWM3ZWJlNWU2ZGIifQ?api-version=2021-11-15-preview
  response:
    body:
      string: '{"recordingState": "active"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - af7771a4-4f70-47d0-97c1-3ab7071e4d79
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI1YzFmMTMwMC04ZmE0LTRjYjMtYjIyNy1iZmNhMmMzMjRmZGYiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI2ZDJlMzkyYy0yMmEyLTQxNzgtOTE4Ni01NWM3ZWJlNWU2ZGIifQ/:pause?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 54bb3733-71c8-452d-ac2b-b82ccc17f113
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI1YzFmMTMwMC04ZmE0LTRjYjMtYjIyNy1iZmNhMmMzMjRmZGYiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI2ZDJlMzkyYy0yMmEyLTQxNzgtOTE4Ni01NWM3ZWJlNWU2ZGIifQ/:resume?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 38169056-ac48-4d6c-9993-8d627f5309e5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/5c1f1300-ccd3-4a22-9794-81f2226405ad/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - a7e6d256-0ea1-49ba-9d9a-9c585e33bd8d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/5c1f1300-5a49-46d1-92f9-5412c0453d63/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - bffe673e-81e0-4228-af75-78d9185f11e9
    status:
      code: 202
      message: Accepted
version: 1
