interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Dec 2021 09:27:36 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-1533-c4ca-f40f-343a0d0066ae"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EZWDJy4Sq0aElcp9JZ25oQ.2.0
      x-processing-time:
      - 26ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"serverCallId": "aaaaaaaaaaaaaaaaaaaaaaaaaa222222222222222222222",
      "kind": "serverCallLocator"}, "recordingStateCallbackUri": "https://bot.contoso.io/callback"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/recordings?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8527", "message": "Invalid join identity, cannot
        join call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 53b66d9c-c2d1-4d8c-950e-32bdf8472f8c
    status:
      code: 400
      message: Bad Request
version: 1
