interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 20 Dec 2021 10:54:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wXwQxcxxw0eY1kqh7wnqGA.2.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "source": "sanitized", "callbackUri": "sanitized", "requestedMediaTypes": ["audio"],
      "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 693b891e-432a-41e4-a838-4b416ab22dc9
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "callbackUri": "sanitized", "participant": {"communicationUser": "sanitized"},
      "operationContext": "21ea3fbb-8483-40a0-8632-c6de378c40d3"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "f666726f-d45e-4f3b-9acd-e1371890cb3a", "status": "running",
        "operationContext": "21ea3fbb-8483-40a0-8632-c6de378c40d3"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 833e82aa-5a5f-4c50-8b00-1f30aa7562a0
    status:
      code: 202
      message: Accepted
- request:
    body: '{"incomingCallContext": "26fda345-3b5a-4159-b86b-260decaef2ac", "callbackUri":
      "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:answer?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "InternalServerError", "message": "The input is
        not a valid Base-64 string as it contains a non-base 64 character, more than
        two padding characters, or an illegal character among the padding characters.
        "}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - a5864c2e-7a45-4612-958c-c3933f249463
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 693b891e-432a-41e4-a838-4b416ab22dc9
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 693b891e-432a-41e4-a838-4b416ab22dc9
    status:
      code: 202
      message: Accepted
version: 1
