interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 03 Dec 2021 15:10:51 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2uuEjSYD0Uy6I5nU31btRQ.2.0
      x-processing-time:
      - 25ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "991f1300-4503-413c-b989-54e30a741afd"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 5e6d716b-ff10-49af-af7c-9154d1aea320
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/991f1300-4503-413c-b989-54e30a741afd/:keepAlive?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 9a3b13c6-1f3d-4e11-be06-efcde6b0d484
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: DELETE
    uri: https://sanitized.communication.azure.com/calling/callConnections/991f1300-4503-413c-b989-54e30a741afd?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - aafce81d-dc60-4d59-b4eb-95105e418cbc
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/991f1300-4503-413c-b989-54e30a741afd/:keepAlive?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 6e0f4d79-78c1-4e2a-9b17-7002d18c5813
    status:
      code: 200
      message: OK
version: 1
