interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 20 Dec 2021 10:49:17 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - x4/SWTuoC0+Mu/j9qeEOEA.2.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 6414a19e-bbe9-48d8-91fc-88a984d5dc9d
    status:
      code: 201
      message: Created
- request:
    body: '{"userToUserInformation": "test information", "operationContext": "b2a2d2fc-5dd9-4632-99b6-abaabb7bb53e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:transferToCall?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "InternalServerError", "message": "Index was out
        of range. Must be non-negative and less than the size of the collection.\r\nParameter
        name: index"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 6414a19e-bbe9-48d8-91fc-88a984d5dc9d
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"userToUserInformation": "test information", "operationContext": "b2a2d2fc-5dd9-4632-99b6-abaabb7bb53e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:transferToCall?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "InternalServerError", "message": "Index was out
        of range. Must be non-negative and less than the size of the collection.\r\nParameter
        name: index"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 6414a19e-bbe9-48d8-91fc-88a984d5dc9d
    status:
      code: 500
      message: Internal Server Error
version: 1
