interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 03 Dec 2021 15:11:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GtsEgSZlC06TrI50nk+o+Q.2.0
      x-processing-time:
      - 45ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "2a201300-7d7f-47d8-9baa-08bbbfbb8143"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - a179e29d-1a7e-4925-b3cc-721d96080b6a
    status:
      code: 201
      message: Created
- request:
    body: '{"participant": {"communicationUser": "sanitized"}, "operationContext":
      "a471c258-84c4-40b2-be3e-58580b02ca1f"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/2a201300-7d7f-47d8-9baa-08bbbfbb8143/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "f55490dd-c472-44fc-b22a-57b5499cb4c1", "status": "running",
        "operationContext": "a471c258-84c4-40b2-be3e-58580b02ca1f"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 95bf6457-5f21-4090-be73-881668901ba7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/2a201300-7d7f-47d8-9baa-08bbbfbb8143/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 80c36c79-21c8-4cd9-9ab9-bb0a8c4040c6
    status:
      code: 202
      message: Accepted
version: 1
