interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 03 Dec 2021 15:11:07 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gUnlxRiq0kuDBoWx8mFvaQ.2.0
      x-processing-time:
      - 22ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "b4201300-aa29-4410-a831-3504b9b93b6d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - d64d43f5-f358-4cf0-b92b-5d6af9a1b1f4
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: GET
    uri: https://sanitized.communication.azure.com/calling/callConnections/b4201300-aa29-4410-a831-3504b9b93b6d?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "b4201300-aa29-4410-a831-3504b9b93b6d", "source":
        "sanitized", "alternateCallerId": "sanitized", "targets": "sanitized", "callConnectionState":
        "connecting", "callbackUri": "sanitized", "requestedMediaTypes": ["audio"],
        "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 1c06b212-1920-459f-81d4-f2e446b68880
    status:
      code: 200
      message: OK
- request:
    body: '{"audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav", "loop":
      true, "operationContext": "f9d17a46-4f87-4940-9923-2c94fbe64b96", "audioFileId":
      "da9ce97a-01d8-4315-b72f-cd30bd0a7793"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/b4201300-aa29-4410-a831-3504b9b93b6d/:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "37990207-5f0e-438d-ad18-f37e18950797", "status": "running",
        "operationContext": "f9d17a46-4f87-4940-9923-2c94fbe64b96"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 268e5791-c7bd-48bc-83f6-06acba8fe7e5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/b4201300-aa29-4410-a831-3504b9b93b6d/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "d6ae2662-101e-4225-bec1-c9b6624073be", "status": "completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - b388aa3d-786a-44a7-a849-33921e8cb846
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/b4201300-aa29-4410-a831-3504b9b93b6d/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 85456c93-ea97-4429-852a-370e3621205b
    status:
      code: 202
      message: Accepted
version: 1
