interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DFQ8JlVeVUuHeKfAbU8sZw.2.0
      x-processing-time:
      - 41ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "source": "sanitized", "callbackUri": "sanitized", "requestedMediaTypes": ["audio"],
      "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 4b9ef66b-f49e-4a04-adb0-33262333786b
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "callbackUri": "sanitized", "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
      "loop": true, "operationContext": "4374f518-3266-4f24-a23f-de79cc9a0a2a", "audioFileId":
      "47180f63-b9e2-418f-8ada-a81b7963e5fc"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "e61f1300-6d5b-4f1f-943b-e18879075359", "status": "running",
        "operationContext": "4374f518-3266-4f24-a23f-de79cc9a0a2a"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - bcaf9a41-936d-45e8-8e4d-deb93e28b2a4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "7fbc3e0f-37a2-45c7-bfbd-be6545c86c24", "status": "completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 9c2d6032-a044-4768-b3a8-5773e5def7a8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - b0f39b3f-3444-414a-b616-cd36a4c7bd09
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 000c4017-4362-4d79-9bed-a3d0730bcf6c
    status:
      code: 202
      message: Accepted
version: 1
