interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Dec 2021 16:50:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16c9-1104-0e04-343a0d006a06"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1yzjW9ZsTk6cn3hwTVmA6A.2.0
      x-processing-time:
      - 22ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "c81f1300-c2a7-464a-a3b7-d3919efd4cb5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - ff8c9202-0e7e-4210-a069-28d63e6b26e1
    status:
      code: 201
      message: Created
- request:
    body: '{"participant": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16a2-b59f-3ef0-8b3a0d002e50"}},
      "operationContext": "1e7401cc-aee2-441e-9bce-419fe7c22068"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/c81f1300-c2a7-464a-a3b7-d3919efd4cb5/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"participantId": "5991d391-991e-4257-b42d-0b22c201eb5a"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - a3bcc30b-6976-4b9a-a0fc-9e5fc0fb73a2
    status:
      code: 202
      message: Accepted
- request:
    body: '{"identifier": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16a2-b59f-3ef0-8b3a0d002e50"}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/c81f1300-c2a7-464a-a3b7-d3919efd4cb5/participants:holdMeetingAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8522", "message": "Participant not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 4f2b0a14-0550-4881-a183-7d87a643bb87
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/c81f1300-c2a7-464a-a3b7-d3919efd4cb5/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - b77f4e04-4bdb-483e-9400-80f1eb4b71e5
    status:
      code: 202
      message: Accepted
version: 1
