interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 03 Dec 2021 15:12:08 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1QvPEZWDXEOAU/IkpI7SRA.2.0
      x-processing-time:
      - 22ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "86201300-989b-4c46-9eb0-4d36818ab039"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 6e5b4464-e594-4d21-93a1-15db066a16bb
    status:
      code: 201
      message: Created
- request:
    body: '{"participant": {"communicationUser": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/86201300-989b-4c46-9eb0-4d36818ab039/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "f6d02412-6a54-4173-aacd-c84a3dd9a7c4", "status": "running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 2e97bf5f-6545-4f10-8a76-3ed990ef5345
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/86201300-989b-4c46-9eb0-4d36818ab039/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 07e47724-a2c7-48b6-860c-484f9611e9df
    status:
      code: 202
      message: Accepted
version: 1
