interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 20 Dec 2021 10:46:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Xph46ipfKkmrqRoyGMRQzw.2.0
      x-processing-time:
      - 32ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 9ebc06c4-943f-4007-bd3a-e53df95e89f8
    status:
      code: 201
      message: Created
- request:
    body: '{"participant": {"communicationUser": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "15b9c0bb-4012-4c98-868c-b8f8c1154aa7", "status": "running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 9ebc06c4-943f-4007-bd3a-e53df95e89f8
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: GET
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '[{"identifier": {"rawId": "sanitized", "phoneNumber": "sanitized"},
        "participantId": "8950e146-177a-44fb-a7e9-fbe0868774e5", "isMuted": false},
        {"identifier": {"rawId": "sanitized", "communicationUser": "sanitized"}, "participantId":
        "1fbf8686-7058-4e69-94d1-59c58160a6d3", "isMuted": false}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 9ebc06c4-943f-4007-bd3a-e53df95e89f8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 9ebc06c4-943f-4007-bd3a-e53df95e89f8
    status:
      code: 202
      message: Accepted
version: 1
