interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 21 Dec 2021 11:14:41 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yx+1h+iMCkGhcC/F0190bg.2.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 6b7ed566-d5d6-429d-bf03-79e14a3f784b
    status:
      code: 201
      message: Created
- request:
    body: '{"participant": {"communicationUser": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "aa885d74-bca8-4550-bca8-384fdff5dd09", "status": "running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 6b7ed566-d5d6-429d-bf03-79e14a3f784b
    status:
      code: 202
      message: Accepted
- request:
    body: '{"identifier": {"communicationUser": "sanitized"}, "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
      "loop": true, "audioFileId": "3c64980f-d05b-4251-b363-c581dcb9a2a1"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "1d201300-31ba-4c62-aeb9-f1b3b96bf557", "status": "running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 6b7ed566-d5d6-429d-bf03-79e14a3f784b
    status:
      code: 202
      message: Accepted
- request:
    body: '{"identifier": {"communicationUser": "sanitized"}, "mediaOperationId":
      "1d201300-31ba-4c62-aeb9-f1b3b96bf557"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants:cancelMediaOperation?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 6b7ed566-d5d6-429d-bf03-79e14a3f784b
    status:
      code: 200
      message: OK
- request:
    body: '{"identifier": {"communicationUser": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants:remove?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 6b7ed566-d5d6-429d-bf03-79e14a3f784b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 6b7ed566-d5d6-429d-bf03-79e14a3f784b
    status:
      code: 202
      message: Accepted
version: 1
