interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Dec 2021 09:37:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-153c-e445-4ff7-343a0d006ffb"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mNrhsgvpcU2U0I5TaRIiyg.2.0
      x-processing-time:
      - 24ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "e3f2b410-5283-11ec-873a-7fcd714d320c",
      "kind": "groupCallLocator"}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "bb201300-d1f5-4a0b-b3a9-b7739aa47bdf"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 20040b53-d84f-4946-a610-ef60a08518f2
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"participant": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-142e-1cb2-69f0-553a0d006a9d"}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/bb201300-d1f5-4a0b-b3a9-b7739aa47bdf/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"participantId": "72c64214-e945-4fb7-9c7f-e69f4fcadc2b"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - c069fabf-b4a0-4e94-ac57-0ef7ee164e40
    status:
      code: 202
      message: Accepted
- request:
    body: '{"callLocator": {"groupCallId": "e3f2b410-5283-11ec-873a-7fcd714d320c",
      "kind": "groupCallLocator"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:getAll?api-version=2021-11-15-preview
  response:
    body:
      string: '[{"identifier": {"rawId": "28:6b45c5b6-1c34-47c0-8980-11e98d47d23f"},
        "participantId": "848c9df5-172f-4a44-9d2b-45643faab94e", "isMuted": false},
        {"identifier": {"rawId": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-152e-f92e-655d-573a0d007466",
        "communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-152e-f92e-655d-573a0d007466"}},
        "participantId": "1eecd23d-a13e-49b8-9013-747e30fc274d", "isMuted": true},
        {"identifier": {"rawId": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-1519-ff7d-4ff7-343a0d006e04",
        "communicationUser": {"id": "8:acs:ab12b0ea-85e[...]
- request:
    body: '{"callLocator": {"groupCallId": "e3f2b410-5283-11ec-873a-7fcd714d320c",
      "kind": "groupCallLocator"}, "identifier": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-142e-1cb2-69f0-553a0d006a9d"}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:get?api-version=2021-11-15-preview
  response:
    body:
      string: '{"identifier": {"rawId": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-142e-1cb2-69f0-553a0d006a9d",
        "communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-142e-1cb2-69f0-553a0d006a9d"}},
        "participantId": "72c64214-e945-4fb7-9c7f-e69f4fcadc2b", "isMuted": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 1b18b966-53be-45ed-8558-2c002cc90dc7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/bb201300-d1f5-4a0b-b3a9-b7739aa47bdf/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "e1dd97d4-4593-4a94-ba70-b041da2f20ce", "status": "completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - e4ed6c8f-75cd-496e-8faf-47e9a0b69c7e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/bb201300-d1f5-4a0b-b3a9-b7739aa47bdf/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 55f13f3e-c9dd-4252-b670-dd531a413557
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/bb201300-0609-4848-97d4-f5812cc56b91/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 7f9f53c7-e497-4ace-9844-4110429101e8
    status:
      code: 202
      message: Accepted
version: 1
