interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 03 Dec 2021 11:45:06 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - B5NbdsOE5keR3WWBLJOXpw.2.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "9382d810-542d-11ec-8ae0-9f877a89c2db",
      "kind": "groupCallLocator"}, "recordingStateCallbackUri": "/not/absolute/uri"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/recordings?api-version=2021-11-15-preview
  response:
    body:
      string: '{"recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI3ZjIwMTMwMC0xMTY5LTQzNzEtOTE0Yy01ZjQyZDBkYWM3YzciLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJkM2NmZWQ5OC0zYjViLTRkMTQtOGE0My02MWJlN2Q1NDU1MDIifQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 85ceeec0-f289-4dc7-bbc8-402be8ea8fcc
    status:
      code: 200
      message: OK
version: 1
