interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 20 Dec 2021 10:57:16 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cekbnoRaSkaijaO+gEwhDw.2.0
      x-processing-time:
      - 25ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "source": "sanitized", "callbackUri": "sanitized", "requestedMediaTypes": ["audio"],
      "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 85230175-2688-4f39-8ea4-f34bdecef41c
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "callbackUri": "sanitized", "participant": {"communicationUser": "sanitized"},
      "operationContext": "b5a55f8f-75a5-47eb-908b-cd3a2a3cb67d"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "129d13a8-86f1-4c00-b437-163e927e5ed3", "status": "running",
        "operationContext": "b5a55f8f-75a5-47eb-908b-cd3a2a3cb67d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - accdfcbe-2f84-4e4a-87fd-b5b01e143139
    status:
      code: 202
      message: Accepted
- request:
    body: '{"incomingCallContext": "26fda345-3b5a-4159-b86b-260decaef2ac"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:reject?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "InternalServerError", "message": "The input is
        not a valid Base-64 string as it contains a non-base 64 character, more than
        two padding characters, or an illegal character among the padding characters.
        "}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 47374de1-a476-482c-89da-79aefa55d7da
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 85230175-2688-4f39-8ea4-f34bdecef41c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 85230175-2688-4f39-8ea4-f34bdecef41c
    status:
      code: 202
      message: Accepted
version: 1
