interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 30 Nov 2021 13:16:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-10de-d332-ac00-343a0d000146"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 7Ar+0oq2PkSA9JFmV+GMIg.2.0
      x-processing-time:
      - 43ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "84201300-e30a-4fb2-9d9d-316ffe9faf35"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 698b0f5f-a3d0-4da3-ac8f-73232ae20b39
    status:
      code: 201
      message: Created
- request:
    body: '{"userToUserInformation": "test information", "operationContext": "339ffafe-8082-453a-a1fd-8630af5bd89e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/84201300-e30a-4fb2-9d9d-316ffe9faf35/:transferToCall?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "InternalServerError", "message": "Index was out
        of range. Must be non-negative and less than the size of the collection.\r\nParameter
        name: index"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - b2e482c8-6557-4a99-9d11-1db59d041599
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"userToUserInformation": "test information", "operationContext": "339ffafe-8082-453a-a1fd-8630af5bd89e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/84201300-e30a-4fb2-9d9d-316ffe9faf35/:transferToCall?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "InternalServerError", "message": "Index was out
        of range. Must be non-negative and less than the size of the collection.\r\nParameter
        name: index"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 7e741d3b-84c9-4187-a077-9588ca1e31bc
    status:
      code: 500
      message: Internal Server Error
version: 1
