interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 21 Dec 2021 11:26:23 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - En2xLHgt40iT1XQU69+wpg.2.0
      x-processing-time:
      - 29ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - e3c31a90-6546-463c-ae47-ad6e3ecfd021
    status:
      code: 201
      message: Created
- request:
    body: '{"participant": {"communicationUser": "sanitized"}, "operationContext":
      "862783b8-09f7-4827-bbb5-1e4fd5df359e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "06281bbb-cd5a-4516-bc12-bd6350894702", "status": "running",
        "operationContext": "862783b8-09f7-4827-bbb5-1e4fd5df359e"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - e3c31a90-6546-463c-ae47-ad6e3ecfd021
    status:
      code: 202
      message: Accepted
- request:
    body: '{"audioRoutingMode": "multicast", "targets": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:createAudioRoutingGroup?api-version=2021-11-15-preview
  response:
    body:
      string: '{"audioRoutingGroupId": "5dbfa2b3-11f4-4a5e-aa49-28a62eb5cb0f"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - e3c31a90-6546-463c-ae47-ad6e3ecfd021
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: GET
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/audioRoutingGroups/5dbfa2b3-11f4-4a5e-aa49-28a62eb5cb0f?api-version=2021-11-15-preview
  response:
    body:
      string: '{"audioRoutingMode": "multicast", "targets": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - e3c31a90-6546-463c-ae47-ad6e3ecfd021
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - e3c31a90-6546-463c-ae47-ad6e3ecfd021
    status:
      code: 202
      message: Accepted
version: 1
