interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Dec 2021 16:50:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16c9-b371-0e04-343a0d006a13"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - h7agE7kYm0yn4/D8lKBn9A.2.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "45201300-4764-42fc-8e3e-cf7e9c5e35e1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 028ba7bb-42e0-4518-a71d-4a61b4a99e16
    status:
      code: 201
      message: Created
- request:
    body: '{"participant": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16a2-b59f-3ef0-8b3a0d002e50"}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/45201300-4764-42fc-8e3e-cf7e9c5e35e1/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"participantId": "3b7ee472-d392-4875-ba53-9dec1040228b"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 251a034a-3e82-4aca-b6aa-fed577a52040
    status:
      code: 202
      message: Accepted
- request:
    body: '{"identifier": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16a2-b59f-3ef0-8b3a0d002e50"}},
      "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav", "loop": true,
      "audioFileId": "4262db77-f668-4056-a632-c6ccdd31e97b"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/45201300-4764-42fc-8e3e-cf7e9c5e35e1/participants:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8522", "message": "Participant not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 817fef4f-9ebd-42bc-bef0-fd7820221146
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/45201300-4764-42fc-8e3e-cf7e9c5e35e1/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - c142ad9b-9190-461d-a6d2-a5629aa107d9
    status:
      code: 202
      message: Accepted
version: 1
