interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Dec 2021 16:48:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16c7-42c7-4ff7-343a0d0080d4"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - h/Yi3gQwS0qY4uO9IVgS8Q.2.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "cf1f1300-04b7-4012-81e7-7e5806578325"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 96206668-2ba0-499b-aec7-0360d78528fa
    status:
      code: 201
      message: Created
- request:
    body: '{"participant": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16a2-b59f-3ef0-8b3a0d002e50"}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/cf1f1300-04b7-4012-81e7-7e5806578325/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"participantId": "f25eb87d-c4c7-4fda-850b-f5cae08a7e85"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 2a2ad90a-0935-46e1-86ea-67981a9e9616
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: GET
    uri: https://sanitized.communication.azure.com/calling/callConnections/cf1f1300-04b7-4012-81e7-7e5806578325/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '[{"identifier": {"rawId": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16c7-42c7-4ff7-343a0d0080d4",
        "communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16c7-42c7-4ff7-343a0d0080d4"}},
        "participantId": "4154ed06-4add-40b9-b28c-a354e4cf4026", "isMuted": false},
        {"identifier": {"rawId": "4:+918559859399", "phoneNumber": {"value": "+918559859399"}},
        "participantId": "fd7eca93-abd6-4557-9efd-e4aa0a1206b8", "isMuted": false}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 9ab17c29-7d46-44f6-bfb0-f9b064629958
    status:
      code: 200
      message: OK
- request:
    body: '{"identifier": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-16a2-b59f-3ef0-8b3a0d002e50"}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/cf1f1300-04b7-4012-81e7-7e5806578325/participants:get?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8522", "message": "Participant not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 62484088-56ab-4d22-b72b-0d6a631d2cb5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/cf1f1300-04b7-4012-81e7-7e5806578325/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 07416a81-39e9-483a-a837-5427c0e769e9
    status:
      code: 202
      message: Accepted
version: 1
