interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Dec 2021 09:24:49 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-1531-3ab9-78fe-343a0d008335"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xXQYlCfmPU66Yo5lLXpXxQ.2.0
      x-processing-time:
      - 24ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "e3f2b410-5283-11ec-873a-7fcd714d320c",
      "kind": "groupCallLocator"}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "5d201300-7be9-4a65-b6b0-0c8d448b1409"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 8d825e3c-319d-442e-8b09-088cef0eeeca
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "e3f2b410-5283-11ec-873a-7fcd714d320c",
      "kind": "groupCallLocator"}, "callbackUri": "sanitized", "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
      "loop": true, "operationContext": "a7867e76-d5a8-4a0a-b5a7-16f8d1724851", "audioFileId":
      "89039708-ceb1-4263-8a90-eaeed99bf51f"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "5d201300-c1f8-4c81-8448-0444a83c4527", "status": "running",
        "operationContext": "a7867e76-d5a8-4a0a-b5a7-16f8d1724851"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - f17ad05a-3195-4564-bd06-51c09a5b7f71
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/5d201300-7be9-4a65-b6b0-0c8d448b1409/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "c6f80ae9-5c56-41ac-9edd-f5170f02f6df", "status": "completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 1ed88e95-34f4-4c32-803e-683f3024fc6c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/5d201300-7be9-4a65-b6b0-0c8d448b1409/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 3e660a36-4dc6-45ce-909a-64ab4b957ba3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/5d201300-c559-4c13-b7f2-967203d8ed51/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 82804285-0413-4204-b6c9-86c4ebf141bb
    status:
      code: 202
      message: Accepted
version: 1
