interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 29 Dec 2021 12:36:36 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Gejam4TiDUGlUJxzbMth2g.2.0
      x-processing-time:
      - 22ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "source": "sanitized", "callbackUri": "sanitized", "requestedMediaTypes": ["audio"],
      "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - c5a28220-f2d3-4cfc-8295-a004997fbfcb
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "sanitized", "kind": "groupCallLocator"},
      "callbackUri": "sanitized", "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
      "loop": true, "operationContext": "6023019b-e8e5-40f0-a3c0-21f9d8f24947", "audioFileId":
      "0e8fa917-7f3a-408b-bbeb-30dc9de6f904"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "e81f1300-7c1b-4176-adc2-786df75158ad", "status": "running",
        "operationContext": "6023019b-e8e5-40f0-a3c0-21f9d8f24947"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 23345fc8-de68-434e-8352-ff1e8f7c803a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "461511db-74a5-4263-bc1a-d2f30c8747c5", "status": "completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - c5a28220-f2d3-4cfc-8295-a004997fbfcb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - c5a28220-f2d3-4cfc-8295-a004997fbfcb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acs-app-validations.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - c5a28220-f2d3-4cfc-8295-a004997fbfcb
    status:
      code: 202
      message: Accepted
version: 1
