interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Gk9FtOHGWEelRFjcmMennw.2.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 47310568-d843-41f8-90ba-abd2d518531c
    status:
      code: 201
      message: Created
- request:
    body: '{"participant": {"communicationUser": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "484da179-65b2-4277-ad03-fb0f72a35ff3", "status": "running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - ed090fe4-0321-42e4-bc94-00963b708d99
    status:
      code: 202
      message: Accepted
- request:
    body: '{"identifier": {"communicationUser": "sanitized"}, "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
      "loop": true, "audioFileId": "6f0d5c32-9f8a-45c2-b035-aa871740268c"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "501f1300-1e56-40ce-9aa4-a5846fbd4857", "status": "running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 859235fa-6337-4de7-87dd-fb6d4a029c5c
    status:
      code: 202
      message: Accepted
- request:
    body: '{"identifier": {"communicationUser": "sanitized"}, "mediaOperationId":
      "501f1300-1e56-40ce-9aa4-a5846fbd4857"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants:cancelMediaOperation?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - d048a8fc-0fb8-471c-83e6-677b360c7728
    status:
      code: 200
      message: OK
- request:
    body: '{"identifier": {"communicationUser": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/participants:remove?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - e8a6dcc7-d89f-48f2-bd8d-f298f2304e71
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - b266cb50-4bf6-4aa3-8281-e51bd40b0e33
    status:
      code: 202
      message: Accepted
version: 1
