interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 03 Dec 2021 15:21:17 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - u9ts6PDt90CyTlJcBY8uFw.2.0
      x-processing-time:
      - 24ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "c4201300-6b1e-4b21-b49b-b13c12354289"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - c1de850a-c4d6-4149-b33e-d9fed897d2a0
    status:
      code: 201
      message: Created
- request:
    body: '{"targetCallConnectionId": "83201300-d1e7-4824-98c9-ba48ea8e0f79", "userToUserInformation":
      "test information", "operationContext": "26e9ca02-efba-485d-b63a-67a901027950"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/c4201300-6b1e-4b21-b49b-b13c12354289/:transferToCall?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8522", "message": "Replaces Call not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 9f3c3c6b-6c12-4939-924a-01d7db1b2d12
    status:
      code: 404
      message: Not Found
version: 1
