interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 30 Nov 2021 13:16:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-10df-0716-1000-343a0d001525"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XoN6Z0WdKkWVv/wllVhzqw.2.0
      x-processing-time:
      - 62ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "ca201300-4544-4774-ad40-fa5a6cdce0ab"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 3a088728-fab4-4ed7-9b84-c547c943f9c0
    status:
      code: 201
      message: Created
- request:
    body: '{"targetParticipant": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-0bc2-181e-3ef0-8b3a0d009fd9"}},
      "userToUserInformation": "test information", "operationContext": "3712a99c-6385-433b-a008-4719c4a905e3"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/ca201300-4544-4774-ad40-fa5a6cdce0ab/:transferToParticipant?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8501", "message": "Action is invalid when call
        is not in Established state"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - b20ac9f1-239a-4b6c-84a4-1c4cbd212456
    status:
      code: 400
      message: Bad Request
version: 1
